html,
body {
    /*height: 100%;*/
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}

.blog {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 30px 0;
  color: #333333;
}
.heading {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-size: 36px;*/
    margin-top: 60px;
    font-weight: 700;
}
.title {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-size: 36px;*/
    margin-top: 60px;
    font-weight: 700;
}
.category{
    color: #31708f;
    text-decoration: none;
}
.caption {
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
blockquote {
    color: #777;
    font-style: italic;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}
img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.img-circle{
    align-content: center;
    border-radius: 50%;
    display: block;
    width:250px;
    height:230px;
}
.img-ico{
    align-content: center;
    border-radius: 50%;
    display: block;
    width:80px;
    height:60px;
}
.img-rounded{
  display: block;
  max-width: auto;
  width: auto;
  height:300px;
}
.img-item{
   display: block;
   width:350px;
   height:300px;
}
.img-center {
    display: block;
    margin-right: 50px;
    margin-left: 150px;
}
.ico {
    position: relative;
    bottom: 6px;
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
    word-spacing:10px;
}
.bs-docs-footer-links li {
    display: inline-block;
    margin-right: 15px;
}

/*Nav bar custom*/
.navbar-custom {
    background-color:#31708f;
    color:#ffffff;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #338aae;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#31708f;
}
/*end Nav bar custom*/
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding: 0px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
